* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  padding: 30px 0;
  text-align: center;
}

.header {
  background-color: aqua;
}

.cat-rousel {
  margin: 0 auto;
  max-height: 1280px;
  max-width: 720px;
}

.clique {
  background-color: red;
  font-size: 1rem;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.main-body {
  background-color: bisque;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  margin: 10px 20px;
}

.cat-list {
  background-color: blueviolet;
  padding: 30px 0;
}

.cat-list div {
  border-radius: 20px;
}

.cat-form {
  background-color: greenyellow;
  padding: 30px 0;
}

.footer {
  text-align: center;
  height: 80px;
  margin-bottom: 20px;
  padding: 20px 0;
}