body {
  margin: 0;
}

h1 {
  text-align: center;
}

.header {
  background-color: aqua;
}

.header h3, .header p {
  color: black;
}

.clique {
  background-color: red;
  font-size: 1.4rem;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  margin: 10px 20px;
}